html, body, .container
{
    height: 100%;
    min-height: 100%;
}
* {
    box-sizing: border-box;
  }
.imgLeft{
    float: left;
    width: 50%;
    height: 20%;
    background-color: red;
}
.textLeft{
    float: Left;
    width: 50%;
    height: 20%;
    background-color: #DDDDDD;
}
.textRight{
    float: right;
    width: 50%;
    height: 20%;
    background-color: green;
}

.imgRight{
    float: right;
    width: 50%;
    height: 20%;
    background-color: blue;
}



.last{
    float: right;
    width: 40%;
    height: 20%;
    background-color: yellow;
}

.grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.column-1 {
    float: left;
    width: 50%;
  }

.column-4 {
    float: left;
    width: 70%;
}


.column-3 {
    float: right;
    width: 30%;
}

.column-2 {
    float: left;
    width: 50%;
}
  
  /* Clear floats after the columns */
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 600px) {
    .column-1 {
      width: 100%;
    }
  }
@media screen and (max-width: 600px) {
    .column-2 {
      width: 100%;
    }
}
  .hero-image {
    background-image: url("Resources/ControllerNiceImage.jpg");
    background-color: #f5f6fa;
    height: 1300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    position: relative;
    width: 100%;
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-80%, -50%);
    color: rgba(0, 0, 0, 0.9);
  }

